.App {
  font-family: sans-serif;
  
}

.profile-pic {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.App > div:nth-child(3) > .profile-pic {
  border-radius: 0px;
}
.like-style,
.dislike-style{
  font-size: 20px;

}

.like-style{
  margin-right: 1rem;
}

.add-color {
 display: flex;
}

.movie-specs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-container{
width: 340px;
}

.movie-poster{
  width: 340px;
  height: 600px;
  object-fit: cover;
}

.movie-name{
  font-size: 24px;
  margin: 0;
}

.movie-summary{
  margin-top: 0;
}

.movie-rating{
  font-size: 18px;
}

.movie-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.add-movie-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 16px;
}

.movie-detail-container{
  max-width: 800px;
}

.not-found{
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.button-style{
  font-size: 50px;
}

.icon-btn{
  font-size: 50px;
}


.game-box {
  cursor: pointer;
  background-color: white;
  color: black;
  height: 8rem;
  width: 8rem;
  font-size: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: min-content;
}

.full-game {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}

.game-title {
  font-size: 35px;
  color: black;
}

