.App {
  font-family: sans-serif;
  text-align: center;
}

.profile-pic {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.App > div:nth-child(3) > .profile-pic {
  border-radius: 0px;
}
